.about {
  background: $features-background-color;
  padding-bottom: 5rem;
  padding-top: 8rem;

  .about-content {
    @include flex;
    @include body-margin;
    @include body-padding;
    justify-content: space-between;
    flex-wrap: wrap;

    @include small-desktop {
      justify-content: center;
      text-align: center;
    }
  }

  h1 {
    width: 20rem;

    @include small-desktop {
      width: 100%;
      padding: 6rem 0 2rem 0;
    }
  }

  p {
    width: 30rem;

    @include small-desktop {
      width: 80%;
      margin: 0 auto;
    }
  }

  a {
    font-family: $header-font;
    color: $cyan-accent;
    margin-top: 2rem;
    display: inline-block;
    position: relative;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $white-accent;
    }

    &::after {
      content: "";
      width: 1rem;
      height: 1rem;
      background: $cyan-accent;
      position: absolute;
      border-radius: 50%;
      margin-left: 1rem;
    }
  }

  span {
    height: 0.2rem;
    width: 8rem;
    background: $cyan-accent;
    display: block;
    margin-top: 0.5rem;

    @include small-desktop {
      margin: 0 auto;
    }
  }

  .about-img {
    max-width: 100%;
    height: auto;
  }
}
