.features {
  background: $features-background-color;

  .features-content {
    @include body-margin;
    @include body-padding;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 2rem;

    @include tablet {
      grid-template-columns: 1fr;
      grid-template-rows: 300px 300px 300px;
    }
  }

  .feature-card {
    text-align: center;
    width: 78%;
    margin: 0 auto;
  }

  h3 {
    padding: 1rem;
  }
}
