/* background colors */
$main-background-color: hsl(217, 28%, 15%);
$footer-background-color: hsl(216, 53%, 9%);
$reviews-background-color: hsl(219, 30%, 18%);

/* accent colors */
$cyan-accent: hsl(176, 68%, 64%);
$blue-accent: hsl(198, 60%, 50%);
$red-accent: hsl(0, 100%, 63%);
$white-accent: hsl(0, 0%, 100%);

/* fonts */
$standard-font: "Open sans", sans-serif;
$header-font: "Raleway", serif;

/* font sizes */
$header-font-size: 2.4rem;
$standard-font-size: 0.875rem;

/* mixins */
@mixin flex {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

@mixin body-margin {
   max-width: 1440px;
   margin: 0 auto;
}

@mixin body-padding {
   max-width: 1140px;
   margin: 0 auto;
}

/* global styles */
html {
   font-size: 100%;
}

*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: $main-background-color;
}

h1 {
   font-family: $header-font;
   color: $white-accent;
   font-size: $header-font-size;
   font-weight: 700;
}

p {
   color: $white-accent;
   font-family: $standard-font;
   font-weight: 400;
   line-height: 1.6;
}

a {
   text-decoration: none;
   font-size: $standard-font-size;
   font-weight: 400;
}

ul {
   list-style: none;
}

.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}