.cta {
   color: $white-accent;
   font-family: $header-font;
   font-size: $standard-font-size;
   padding: 1rem 6rem;
   background: $blue-accent;
   border-radius: 30px;
   margin: 2rem 0;
   outline: none;
   border: none;
   white-space: nowrap;
}