.hero {
   position: relative;

   .hero-background-pattern {
      position: absolute;
      left: 0%;
      bottom: 0%;
      z-index: -1;
      height: auto;
      max-width: 100%;
   }
}

.hero-content {
   @include flex;
   flex-direction: column;
   text-align: center;

   h1 {
      padding: 2.5rem 0;
      width: 50rem;
   }

   p {
      width: 30rem;
   }

   .cta {
      margin-bottom: 10rem;
   }
}