.hero {
  position: relative;
  background: url("../../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom right;

  @include tablet-small {
    background: url("../../images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
  }
}

.hero-content {
  @include flex;
  flex-direction: column;
  text-align: center;

  @include small-desktop {
    padding: 0 2rem;
  }

  h1 {
    padding: 2.5rem 0;
    max-width: 50rem;
  }

  p {
    width: 30rem;
    padding: 0 2rem;

    @include mobile {
      width: 25rem;
    }
  }

  .cta {
    margin-bottom: 10rem;
  }

  .hero-img {
    max-width: 100%;
    height: auto;
  }
}
